body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  background: #121625;
}
a:link {
  color: #dc1a7f;
}
a:visited {
  color: #dc1a7f;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
